* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: 'Arial', sans-serif; margin: 0; padding: 0; background-color: #f4f4f9;}

.month {
    padding: 50px;
    width: 100%;
    background: #34db47;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  font-weight: bold;
}
.weekdays li {
  color: white;
  font-size: 14px;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #ecf0f1;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  justify-items: center;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 30px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;
  color: #7f8c8d;
  cursor: pointer;
}

.days li.active {
  padding: 5px;
  background: #34db47;
  color: white !important;
  border-radius: 50%;
}

.days li:hover {
  background: #2980b9;
  color: white;
  border-radius: 50%;
}

/* Style the Sunday and Friday columns in red */
.days li.sat, .days li.fri {
  color: red;
}

/* Media Queries */
@media screen and (max-width: 720px) {
  .weekdays li, .days li { width: 13.6%; }
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li { width: 12.5%; }
  .days li .active { padding: 2px; }
}