body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
  }
  
  .game-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 5px 10px 0 0 #4d4d4d;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border: none;
    background-color: #95ff6f;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman';
    font-weight: bolder;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #2bff00;
  }

  i{
    font-size: 24px;
    margin-right: 10px;
    color: #f38e21;
  }
  
  #result {
    margin-top: 10px;
    font-weight: bold;
  }
  